@import url('https://fonts.googleapis.com/css?family=Muli:400,900&display=swap');

.app {
  text-align: center;
  font-family: 'Muli', sans-serif;
}

h1,
h2,
h3 {
  font-weight: 900;
}

.main-header,
.completed-tasks {
  width: 500px;
  margin: 0 auto;
}

.task-section {
  margin-bottom: 50px;
}

.task-section-info {
  text-align: left;
}