@import url('https://fonts.googleapis.com/css?family=Muli:400,900&display=swap');

.app {
  text-align: center;
  font-family: 'Muli', sans-serif;
}

h1,
h2,
h3 {
  font-weight: 900;
}

.main-header,
.completed-tasks {
  width: 800px;
  margin: 0 auto;
}

.task-day-header {
  text-align: left;
  padding: 10px;
}

.task-section {
  margin-bottom: 20px;
  border: 1px grey solid;
}

.task-section-info,
.task-day-header {
  text-align: left;
  border-bottom: 1px grey solid;
  padding: 20px;
}

.task-section-info > * {
  display: inline-block;
  margin: 0 20px 0 20px;
}

.task-duration {
  float: right;
}